name: Deploy

# test

on:
  push:
    branches:
      - deploy

jobs:
  deploy:
    name: Deploy
    runs-on: [self-hosted, dev]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Get runtime date
      run: date
    # - name: Bootstrap proxy
    #   run: bash boot/proxy/run.sh
    # - name: Configure deploy
    #   run: |
    #     DEPLOY_ENV=dev bin/configure.sh
    - name: Shutdown previous deploy
      run: docker compose -f deploy.yaml down
    - name: Run deploy
      run: docker compose -f deploy.yaml up -d
